# Firebird 1.5 connection
FB_USER=SYSDBA
FB_PASS=masterkey
ISQL_PATH=C:\Program Files (x86)\Firebird\Firebird_1_5\bin\isql.exe
FIREBIRD_DB_PATH=D:\Gawean Rebinmas\Monitoring Database\Database Ifess\IFESS_ARE_C_28-06-2026 (1)\PTRJ_ARC.FDB

# Shared data directory with ifess-control-server
DATA_DIR=../../../data/ifess

# Service port
PORT=8004
